<!-- ./views/inventory/detail.ejs -->

<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/navigation') %>

<main>
  <h1><%= title %></h1>
  <div class="vehicle-detail-container">
    <%- html %>
  </div>
</main>

<%- include('../partials/footer') %>
