<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/navigation') %>

<main>
    <main>
        <h1>Inventory Management</h1>
        <% if (typeof flashMessage !== 'undefined') { %>
            <div class="flash-message"><%= flashMessage %></div>
        <% } %>

        <ul>
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Inventory</a></li>
        </ul>
    </main>
</main>

<%- include('../partials/footer') %>